.button1{
 padding: 1.2rem 2.1rem;
margin: 0.6rem 0;
border: none;
outline: none;
background: #f1f6f6;
border-radius: 4rem;
font-weight: 600;
font-size: 1.25rem;
transition: 0.3s;
text-align: center;
}
.button1:focus{
    background: #ce1111;
}
.button1:hover{
    background: #ce1111;
}